.env
.env.local
.env.development
.env.production
.env.*
!*.example
!.env.example
node_modules
.DS_Store
packages/*/node_modules
packages/*/.DS_Store
packages/*/dist
packages/*/.env
packages/*/.turbo
packages/*/coverage
tmp*
.vscode